body {
  background-color: #070707;
  margin: 0;

  color: #e4e2dd;
  font-family: Impact;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'impact';
  src: url('./resources/fonts/impact.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
