.home {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

.logo {
  margin: 7%;
  z-index: 2;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 5;

  img {
    width: 115%;
  }
}

.mainImage {
  grid-row-start: 1;
  grid-column-start: 5;

  grid-row-end: 5;
  grid-column-end: 8;

  z-index: 1;
}

.girlImage {
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
}

.girlImage img {
  margin: 30px;
  object-fit: cover;
  height: 400px;
}

.content {
  margin-left: 10%;

  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 4;
}
