.home {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

.logo {
  margin: 7%;
  z-index: 2;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 5;

  img {
    width: 115%;
  }
}

.mainImage {
  grid-row-start: 1;
  grid-column-start: 5;

  grid-row-end: 5;
  grid-column-end: 8;

  z-index: 1;
}

.girlImage {
  grid-row-start: 3;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
}

.girlImage img {
  margin: 30px;
  object-fit: cover;
  height: 400px;
}

.content {
  margin-left: 10%;

  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 4;
}

.backgroundSection {
  grid-row-start: 3;
  /* Adjust this based on where you want the background section to start */
  grid-column-start: 1;
  grid-row-end: 8;
  /* Span across more rows to extend the background */
  grid-column-end: 8;
  /* Span across all columns */

  background-image: url('../../resources/media/elements/home-lights.png'); // Your background image

  background-size: cover;
  /* Cover the entire section */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Optional: To control height or padding */
  min-height: 400px;
  /* Adjust this as necessary */
  padding: 20px;

  z-index: 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  justify-items: center;
}

.card {
  background-color: rgba(0, 0, 0, 0.30);
  border-radius: 15px;
  padding: 20px;
  width: 45%;
  margin: 10px;
  text-align: center;

  height: 150px;
  width: 500px;

  color: white;
  font-family: 'geometria', sans-serif;
}

.explenation {
  grid-row-start: 7;
  grid-row-end: 7;

  grid-column-start: 1;
  grid-column-end: 8;

  .header {
    margin: 5% 5% 0 5%;
    font-family: 'impact' !important;
    font-size: xxx-large;
    text-align: center;
    color: #68cbf8;
  }

  .description {
    margin: 1% 5% 5% 5%;
    font-family: 'geometria' !important;
    text-align: center;
    font-size: xx-large;
  }
}

// image slider
.examples {
  grid-row-start: 8;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 8;
}

.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  /* Ensures the slider takes up the full width of the .examples section */
  height: auto;
}

.sliderTrack {
  display: flex;
  width: calc(200%);
  /* Twice the width to accommodate the duplicate set of images */
  animation: scroll 20s linear infinite;
  /* Adjust the timing for the desired speed */
}

.sliderItem {
  flex: 0 0 auto;
  width: 16.66%;

  /* Each image takes up a portion of the full width */
  img {
    max-width: 350px;
    object-fit: cover;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}